<h1>
  {{title}}
</h1>
<h2>My Companies</h2>
<ul>
  <li *ngFor="let company of companies">
    <br><u>Company Info:</u>
    {{company.Name}} | {{company.VATNumber}} | {{company.Street}} | {{company.Number}} | {{company.Box}}
    | {{company.CityId}} | <br><u>Company City:</u>
    {{company.City.Id}} | {{company.City.PostalCode}} | {{company.City.Name}} | {{company.City.Province}}
  </li>
</ul>


<form class="form-horizontal">
  <div class="form-group">
    <label for="companyCity" class="col-sm-3 control-label">City:</label>
    <div class="col-sm-9">
    <div id="search-component" class="">
      <input #searchBox id="companyCity" class="form-control" (keyup)="search(searchBox.value)" />
    </div>
    </div>

    <!--<div class="col-sm-9">
      <select class="form-control">
        <option id="companyCity" *ngFor="let city of cities" [ngValue]="city.Id">{{city.PostalCode}} | {{city.Name}}</option>
      </select>
    </div>-->
  </div>


  <div class="form-group">
    <label for="companyName" class="col-sm-3 control-label">Name:</label>
    <div class="col-sm-9">
      <input class="form-control" id="companyName" #CompanyName/>
    </div>
  </div>
  <div class="form-group">
    <label for="companyVat" class="col-sm-3 control-label">VAT:</label>
    <div class="col-sm-9">
      <input class="form-control" id="companyVat" #CompanyVAT/>
    </div>
  </div>
  <div class="form-group">
    <label for="companyAddress" class="col-sm-3 control-label">Address:</label>
    <div class="col-sm-9">
      <input class="form-control" id="companyAddress" #CompanyAddress/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-default" (click)="addCompany(CompanyName.value,CompanyVAT.value, CompanyAddress.value); CompanyName.value=''">Add</button>
    </div>
  </div>
</form>

<!--
<h2>My Companies</h2>
<ul>
  <li ng-repeat="(Name) in Company">
    {{Name}}
  </li>
  <li *ngFor="let company of companies">
    {{company.Name}} | {{company.VATNumber}} | {{company.Street}}
  </li>
</ul>

<div>
  <label>Company name:</label> <input #CompanyName />
  <label>Company VAT:</label> <input #CompanyVAT />
  <label>Company address:</label> <input #CompanyAddress />
  <button class="btn btn-default" (click)="addCompany(CompanyName.value,CompanyVAT.value, CompanyAddress.value); CompanyName.value=''">
    Add
  </button>
</div>

-->
<!--<div ng-controller="companyCtrl">
<div class="col-md-4">
<form>
  <div class="form-group">
    <label for="Name">Naam</label>
    <input class="form-control input-lg" id="Name" type="text" ng-model="name">
  </div>
  <div class="form-group">
    <label for="VAT">BTW nummer</label>
    <input class="form-control input-lg" id="VAT" type="text" ng-model="vat">
  </div>
  <div class="form-group">
    <label for="Adress">Adres</label>
    <input class="form-control input-lg" id="Adress" type="text" ng-model="address">
  </div>
  <input type="submit" value="Maak nieuw bedrijf" (click)="postCompany()" class="btn btn-default"/>
</form>
  <hr/>
</div>
</div>-->

