<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['search']">Zoeken</a></li>
      <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['contact']">Contact</a></li>
      <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['../manager']">LeisureManager</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">{{title}}</h3>
</div>
