<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right" [class.black]="!backgroundImage">
      <li role="presentation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['search']">Zoeken</a></li>
      <li *ngIf="isLoggedIn==true" role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['../account/details']">Mijn Profiel</a></li>

      <li *ngIf="isLoggedIn==false" role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['../account/login']">Log In</a></li>
      <li *ngIf="isLoggedIn==true" role="presentation" [routerLinkActive]="['active']" ><a [routerLink]="['../account/login']" (click)="logout()">Log Uit</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">
    <img *ngIf="backgroundImage==true" style="width: 400px;" src="assets/leisurebooker.png"/>
    <img *ngIf="backgroundImage==false" style="width: 400px;" src="assets/leisurebooker_black.png"/>
  </h3>
</div>
