<alert type="info">LINKS KEUZE RECHTS GASTEN</alert>
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-list">
      <li class="nav-header">Gasten</li>
      <li data-type="all" class="active"><a href="#">Alle Gasten</a></li>
      <li data-type="part"><a href="#">Particulieren</a></li>
      <li data-type="companies"><a href="#">Bedrijven</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Voornaam</th>
          <th>Achternaam</th>
          <th>Bedrijf</th>
          <th>Email</th>
          <th>Telefoon</th>
          <th>Stad</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Voornaam</th>
          <td>Achternaam</td>
          <td>Bedrijf</td>
          <td>Email</td>
          <td>Telefoon</td>
          <td>Stad</td>
        </tr>
        <tr>
          <th scope="row">Voornaam</th>
          <td>Achternaam</td>
          <td>Bedrijf</td>
          <td>Email</td>
          <td>Telefoon</td>
          <td>Stad</td>
        </tr>
        <tr>
          <th scope="row">Voornaam</th>
          <td>Achternaam</td>
          <td>Bedrijf</td>
          <td>Email</td>
          <td>Telefoon</td>
          <td>Stad</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
