<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Voornaam</th>
          <th>Achternaam</th>
          <th>Email</th>
          <th>Telefoon</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.Name}}</th>
          <td>{{user.Lastname}}</td>
          <td>{{user.Email}}</td>
          <td>{{user.PhoneNumber}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
