
<div class="row">
<div class="col-md-12">
  <div class="col-sm-8">
      <div class="btn-group">
        <button type="button" class="btn btn-default" (click)="removeDay()"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-success" (click)="open()">{{ date | date:'dd-MMMM-yyyy' }}</button>
        <button type="button" class="btn btn-default" (click)="addDay()"><i class="fa fa-angle-right" aria-hidden="true"></i></button>

      </div>
      <button type="button" class="btn btn-default" (click)="today()">Vandaag</button>

      <ul class="datepicker-ul" role="menu" *ngIf="opened">
        <datepicker [(ngModel)]="date" [minDate]="minDate" [showWeeks]="false" (selectionDone)="onSelectionDone($event)"></datepicker>
      </ul>
  </div>
  <div class="form-group">
    <label for="amount" class="col-sm-2 control-label">Kamer</label>
    <div class="col-sm-2" *ngIf="branch">
      <select [(ngModel)]="roomId" class="form-control" (ngModelChange)="refreshReservations()" id="amount">
        <option *ngFor="let room of branch.Rooms" [ngValue]="room.Id" [attr.selected]="room.Id == roomId ? true : null">{{room.Name}}</option>
      </select>
    </div>
  </div>
</div>
</div>
<div class="row">
  <h3>Reservaties voor {{date | date: 'd MMMM y'}} <i *ngIf="refreshing" class="fa fa-spinner fa-pulse fa-fw"></i></h3>
<div class="col-md-3">
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <tr *ngIf="reservations?.length == 0"><td>Geen reservaties beschikbaar.</td></tr>
      <tr *ngFor="let reservation of reservations | sort: 'DateTime'" (click)="showModal(reservation.Id)" (mouseover)="hover(reservation.SpaceId)" (mouseleave)="hoverLeave()"  [class.warning]="reservation.NoShow" [class.cancelled]="reservation.Cancelled" [class.success]="reservation.Arrived">
        <th scope="row">{{reservation.DateTime | date: 'shortTime'}}</th>
        <td>{{reservation.User.Name}} {{reservation.User.Lastname}}</td>
        <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{reservation.AmountOfPersons}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-9">
  <canvas #roomPlan></canvas>
</div>
</div>

<div bsModal #reservationDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="currentReservation!=null"><strong>{{currentReservation.AmountOfPersons}} gasten - {{currentReservation.DateTime | date: 'd MMMM y HH:mm'}}</strong> - {{currentReservation.EndDateTime | date: 'HH:mm'}}</h4>
        <button type="button" class="close pull-right" (click)="reservationDetailModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="currentReservation!=null">
          <div class="col-md-4">
            <h2>Reservatie:</h2>
            <p>
              <strong>Space:</strong>
              <br>
              {{currentReservation.SpaceId}}
            </p>
            <p>
              <strong>Datum:</strong>
              <br>
              {{currentReservation.DateTime | date: 'shortDate'}}
            </p>
            <p>
              <strong>Tijd:</strong>
              <br>
              {{currentReservation.DateTime | date: 'shortTime'}}
            </p>

          </div>
          <div class="col-md-4">
            <h2>Gast:</h2>
            <p>
              {{currentReservation.User.Name}} {{currentReservation.User.Lastname}}<br />
              <a href="mailto:{{currentReservation.User.Email}}">{{currentReservation.User.Email}}</a><br />
              {{currentReservation.User.PhoneNumber | phone}}
            </p>
            <h3>{{currentReservationStatus}}</h3>
          </div>
          <div class="col-md-4">
            <p><button class="btn btn-success btn-modal btn-lg" (click)="Arrived(currentReservation.Id)" [disabled]="currentReservation.Arrived">Aangekomen</button></p>
            <p><button  class="btn btn-warning btn-modal btn-lg" (click)="NoShow(currentReservation.Id)" [disabled]="currentReservation.NoShow">Niet opgedaagd</button></p>
            <p><button  class="btn btn-danger btn-modal btn-lg" (click)="Cancel(currentReservation.Id)">Annuleer</button></p>
          </div>
        </div>
        <h3>Activiteiten</h3>
        <p *ngIf="currentReservation!=null">
          Reservatie aangemaakt door klant via website. {{currentReservation.CreatedOn | date: 'd MMMM y HH:mm'}}
        </p>
      </div>
    </div>
  </div>
</div>
