<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['dashboard']"><img src="assets/leisurebooker.png" alt="LeisureManager"/></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav"><!--
        <li [routerLinkActive]="['active']"><a [routerLink]="['dashboard']">Dashboard</a></li>-->
        <li [routerLinkActive]="['active']" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-calendar" aria-hidden="true"></i> Kalender <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['calendar/hourly']" >Per uur</a></li>
            <li><a [routerLink]="['calendar/recent']" >Recent</a></li>
            <li><a [routerLink]="['calendar/roomplan']" >Kamerplan</a></li>
          </ul>
        </li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['messages']"><i class="fa fa-comments" aria-hidden="true"></i> Berichten</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['guests']"><i class="fa fa-users" aria-hidden="true"></i> Gasten</a></li>
        <li [routerLinkActive]="['active']" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-bar-chart" aria-hidden="true"></i> Statistieken <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['statistics/feedback']" >Tevredenheid</a></li>
            <li><a [routerLink]="['statistics/weekdays']" >Reservaties per weekdag</a></li>
            <li><a [routerLink]="['statistics/guests']" >Aantal gasten</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="refreshing"><a><i class="fa fa-spinner fa-fw fa-pulse"></i></a></li>
        <li [routerLinkActive]="['active']" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-cog" aria-hidden="true"></i> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['branch/edit/',branchId]" >Bewerk Filiaal</a></li>
          <li><a [routerLink]="['settings/rooms/list']" >Bewerk Kamers</a></li>
          <li><a [routerLink]="['company']" >Bedrijven</a></li>
        </ul>
      </li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['../account/details']" ><i class="fa fa-user" aria-hidden="true" tooltip="My Profile"  placement="bottom"></i></a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['../account/login']" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true" tooltip="Logout"  placement="bottom"></i></a></li>
      </ul>
      <form class="navbar-form  form-inline navbar-right">
        <div class="form-group">
          <!--<input type="number" [(ngModel)]="branchId" name="branchId" (ngModelChange)="changeBranch()">-->

          <select *ngIf="branches" [(ngModel)]="branchId" name="branches"  class="form-control" (ngModelChange)="changeBranch()">
            <option *ngFor="let branch of branches" [ngValue]="branch.Id">{{branch.Name}}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</nav>
