<div class="row">
  <div class="col-md-12">
<div class="form-horizontal well" *ngIf="user!=null">

  <p *ngIf="branch">
    Uw afgelopen reservatie in <b>{{branch.Name}}</b> op <b>{{reservation.DateTime | date: 'd MMMM y'}}</b> met <b>{{reservation.AmountOfPersons}} personen</b>. Hopelijk is alles vlot verlopen en heeft u een fijne avond gehad. Hier kan u feedback geven op u bezoek.
  </p>
  <div class="form-group">
    <label id="lblSurname" for="surname" class="col-sm-2 control-label">Naam</label>
    <div class="col-sm-10">
      <label id="surname" class="form-control">{{user.Name}} {{user.Lastname}}</label>
    </div>
  </div>
  <div class="form-group " >
    <label id="lblbeoordeling" class="col-sm-2 control-label">Beoordeling</label>
    <div class="col-sm-10">
      <select name="result" id="cid"  class="form-control" required [(ngModel)]="review.Result" name="result"  #Result>
        <option  [ngValue]="true" >Goed</option>
        <option  [ngValue]="false" >Slecht</option>
      </select>
    </div>

  </div>
  <div class="form-group " >
  <label id="lblPublic" class="col-sm-2 control-label">Zichtbaarheid</label>
  <div class="col-sm-10">
    <select name="result" id="zichtbaarheid"  class="form-control" required [(ngModel)]="review.Public" name="zichtbaarheid"  #zichtbaarheid>
      <option  [ngValue]="true" >Openbaar</option>
      <option  [ngValue]="false" >Enkel voor {{branch?.Name}}</option>
    </select>
  </div>

</div>

  <div class="form-group">
    <label id="lblText" for="text" class="col-sm-2 control-label">Feedback</label>
    <div class="col-sm-10">
      <textarea [ngModel]="review.Text"  class="form-control"  id="text" #Text></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="review" class="btn btn-default" (click)="postReview(Text.value)" >Verstuur</button>
    </div>
  </div>


</div>
  </div>
</div>
