 <div class="inner cover">
        <div class="form-horizontal well">
          <div class="form-group">
            <label for="where" class="col-sm-2 control-label">Waar</label>
            <div class="col-sm-10">
              <input [(ngModel)]="search.location" class="form-control" id="where"  placeholder="Locatie">
            </div>
          </div>
          <div class="form-group">
          <label for="where" class="col-sm-2 control-label">Waar</label>
          <div class="col-sm-10">
            <typeahead
              [(ngModel)]="selectedCity"
              [list]="cities"
              [searchProperty]="'Name'" [displayProperty]="'Name'"
              [maxSuggestions]="10"
              (suggestionSelected)="citySelected($event)"
              placeholder="Begin typing a city">
            </typeahead>
          </div>
        </div>
          <div class="form-group">
            <label for="date" class="col-sm-2 control-label">Datum</label>
            <div class="col-sm-10">

              <input type="date" [ngModel]="search.date | date: 'yyyy-MM-dd'" (ngModelChange)="dateChanged($event)" class="form-control"  id="date">
            </div>
          </div>
          <div class="form-group">
            <label for="time" class="col-sm-2 control-label">Tijd</label>
            <div class="col-sm-10">
              <input type="time" [ngModel]="search.time | date: 'H:mm'" class="form-control" id="time">
            </div>
          </div>
          <div class="form-group">
            <label for="amount" class="col-sm-2 control-label">Aantal</label>
            <div class="col-sm-10">
              <select [(ngModel)]="search.amount" class="form-control" id="amount">
              <option *ngFor="let person of persons" [ngValue]="person">{{person}} personen</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" [routerLink]="['../list']">Zoeken</button>
            </div>
          </div>
        </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Leisurebooker a project for Integration Project 2 <a href="http://kdg.be">@kdg</a></p>
        </div>
      </div>

    </div>
