<div class="middlePage">
  <div class="page-header">
    <h1 class="logo">Leisurebooker <small>Welcome to our place!</small></h1>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Please Sign In</h3>
    </div>
    <div class="panel-body">

      <div class="row">

        <div class="col-md-5" >

          <button class="btn btn-lg btn-facebook" (click)="onFacebookLoginClick()">
            Sign in with Facebook
          </button>
          <a href="#"><img src="http://techulus.com/buttons/tw.png" /></a><br/>
          <a href="#"><img src="http://techulus.com/buttons/gplus.png" /></a>
        </div>

        <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
          <form class="form-horizontal">
            <fieldset>

              <input id="textinputUserName" name="textinput" type="text" placeholder="Enter User Name" class="form-control input-md" #UserName>
              <div class="spacing"><input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small> Remember me</small></div>
              <input id="textinputPassword" name="textinput" type="text" placeholder="Enter Password" class="form-control input-md" #Email>
              <div class="spacing"><a href="#"><small> Forgot Password?</small></a><br/></div>
              <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right" (click)="onSubmit(UserName.value,Email.value)">Sign In</button>


            </fieldset>
          </form>
        </div>

      </div>

    </div>
  </div>

  <p><a href="https://github.com/arjunkomath">About</a></p>

</div>
