<div class="row messages-margin">
  <h3>Berichten  <i *ngIf="refreshing" class="fa fa-spinner fa-pulse fa-fw"></i></h3>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Van</th>
          <th>Inhoud</th>
          <th>Reservatie</th>
          <th>Ontvangen</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="messages?.length == 0"><td colspan="4" class="text-center">Geen berichten beschikbaar.</td></tr>
        <tr *ngIf="!messages"><td colspan="4"  class="text-center">Geen berichten beschikbaar.</td></tr>
        <tr *ngFor="let message of messages | sortDesc: 'DateTime'">
          <th scope="row">{{message.User.Lastname}} {{message.User.Name}} </th>
          <td>{{message.Text}}</td>
          <td><a [routerLink]="['../../booker/reservation/', message.ReservationId]">{{message.ReservationId}}</a></td>
          <td>{{message.DateTime | amTimeAgo}}</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
