<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Leisurebooker</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Home</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['manage/company']">Maak een nieuw bedrijf</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/branches']">Maak een nieuw filiaal</a></li>
      </ul>
    </nav>
  </div>
</div>
