<h1>
  {{title}}
</h1>
<h2>My Companies</h2>
<ul>
  <li *ngFor="let company of companies">
    {{company.name}} | {{company.vat}} | {{company.address}}
  </li>
</ul>

<div>
  <label>Company name:</label> <input #CompanyName />
  <button class="btn btn-default" (click)="add(CompanyName.value); CompanyName.value=''">
    Add
  </button>
</div>


<!--<div ng-controller="companyCtrl">
<div class="col-md-4">
<form>
  <div class="form-group">
    <label for="Name">Naam</label>
    <input class="form-control input-lg" id="Name" type="text" ng-model="name">
  </div>
  <div class="form-group">
    <label for="VAT">BTW nummer</label>
    <input class="form-control input-lg" id="VAT" type="text" ng-model="vat">
  </div>
  <div class="form-group">
    <label for="Adress">Adres</label>
    <input class="form-control input-lg" id="Adress" type="text" ng-model="address">
  </div>
  <input type="submit" value="Maak nieuw bedrijf" (click)="postCompany()" class="btn btn-default"/>
</form>
  <hr/>
</div>
</div>-->

