<h1>{{title}}</h1>



<h2>Branches</h2>

<div class="table-responsive">
  <table class="table table-hover">
    <caption>Caption here?</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let branch of branches">
        <th scope="row">{{branch.Id}}</th>
        <td>{{branch.Name}}</td>
        <td>{{branch.Street}} {{branch.Number}} {{branch.Box}}, {{branch.City.PostalCode}} {{branch.City.Name}}</td>
        <td><a href="mailto:{{branch.Email}}">{{branch.Email}}</a></td>
        <td>{{branch.PhoneNumber | phone}}</td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>



