<h2>Bedrijven</h2>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>VAT Number</th>
      <th>Address</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companies">
      <th scope="row">{{company.Id}}</th>
      <td>{{company.Name}}</td>
      <td>{{company.VATNumber}}</td>
      <td>{{company.Street}} {{company.Number}} {{company.Box}}, {{company.City.PostalCode}} {{company.City.Name}}</td>
      <td><button class="btn btn-info" [routerLink]="['../edit',company.Id]">Bekijk</button></td>
      <td><button class="btn btn-warning" [routerLink]="['../../branch/new',company.Id]">Nieuw filiaal</button></td>
    </tr>
    </tbody>
  </table>
</div>
