
 <h1>Nieuwe ruimte</h1>
 <div class="form-group">
   <label for="roomEnabled" class="col-sm-3 control-label" id="lblRoomEnabled">Beschikbaar:</label>
   <div class="col-sm-9">
     <select required [(ngModel)]="room.Enabled" name="roomEnabled" #roomEnabled="ngModel" #RoomEnabled class="form-control" id="roomEnabled">
       <option  [ngValue]="true" >Ja</option>
       <option  [ngValue]="false" >Neen</option>
     </select>
   </div>
 </div>
 <div class="form-group">
   <label for="roomName" class="col-sm-3 control-label" id="lblRoomName">Kamer naam:</label>
   <div class="col-sm-9">
     <input class="form-control" id="roomName" required [(ngModel)]="room.Name" name="roomName" #roomName="ngModel" #RoomName/>
   </div>
 </div>
 <div class="form-group">
   <div class="btn btn-default" (click)="newRoom()" >Maak kamer</div>
 </div>
 <h1>Beheer je nieuwe ruimte</h1>
 <div class="btn btn-default disabled" data-toggle="modal" data-target="#poolModal" id="btnNewPool" >Nieuwe baan</div>
 <div class="btn btn-default disabled" data-toggle="modal" data-target="#tableModal" id="btnNewTable">Nieuwe tafel</div>

 <div class="btn btn-default disabled" id="saveBtn" >Slaag kamer op</div>


  <div class="col-md-9">
    <div class="room" id="room">
      <!--<div class="object" [ng2-draggable]="true"  (click)="click($event)"></div>-->
    </div>
  </div>
  <div class="col-md-3">

  </div>

 <div id="poolModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Nieuwe baan</h4>
       </div>
       <div class="modal-body">
         <form #newPoolForm="ngForm" class="form-horizontal">
           <div class="form-group">
             <label for="poolName" class="col-sm-3 control-label" id="lblPoolName">Baan naam:</label>
             <div class="col-sm-9">
               <input class="form-control" id="poolName" required [(ngModel)]="space.Name" name="poolName" #poolName="ngModel" #PoolName/>
               <div *ngIf="poolName.errors && (poolName.dirty || poolName.touched)"
                    class="alert alert-danger">
                 <div [hidden]="!poolName.errors.required">
                   Naam van de mag baan niet leeg zijn.
                 </div>
               </div>
             </div>
           </div>
           <div class="form-group">
             <label for="poolPers" class="col-sm-3 control-label" id="lblPoolPers">Aantal personen:</label>
             <div class="col-sm-9">
               <select required [(ngModel)]="space.Persons" name="poolPers" #poolPers="ngModel" #PoolPers class="form-control" id="poolPers">
               <option *ngFor="let person of persons" [ngValue]="person">{{person}} personen</option>
               </select>
               <div *ngIf="poolPers.errors && (poolPers.dirty || poolPers.touched)"
                    class="alert alert-danger">
                 <div [hidden]="!poolPers.errors.required">
                   Aantal personen mag niet leeg zijn.
                 </div>
               </div>
             </div>
           </div>

           <div class="form-group">
             <label for="poolPersMin" class="col-sm-3 control-label" id="lblPoolPersMin">Aantal min personen:</label>
             <div class="col-sm-9">
               <select required [(ngModel)]="space.MinPersons" name="poolPersMin" #poolPersMin="ngModel" #PoolPersMin class="form-control" id="poolPersMin">
                 <option *ngFor="let person of persons" [ngValue]="person">{{person}} personen</option>
               </select>
               <div *ngIf="poolPersMin.errors && (poolPersMin.dirty || poolPersMin.touched)"
                    class="alert alert-danger">
                 <div [hidden]="!poolPersMin.errors.required">
                   Aantal min personen mag niet leeg zijn.
                 </div>
               </div>
             </div>
           </div>

           <div class="form-group">
             <label for="poolEnabled" class="col-sm-3 control-label" id="lblPoolEnabled">Beschikbaar:</label>
             <div class="col-sm-9">
               <select required [(ngModel)]="space.Enabled" name="poolEnabled" #poolEnabled="ngModel" #PoolEnabled class="form-control" id="poolEnabled">
                 <option  [ngValue]="true" >Ja</option>
                 <option  [ngValue]="false" >Neen</option>
               </select>
               <div *ngIf="poolEnabled.errors && (poolEnabled.dirty || poolEnabled.touched)"
                    class="alert alert-danger">
                 <div [hidden]="!poolEnabled.errors.required">
                   Er moet een keuze gemaakt worden.
                 </div>
               </div>
             </div>
           </div>

         </form>
       </div>
       <div class="modal-footer">
         <button class="btn btn-default" [disabled]="!newPoolForm.form.valid" data-dismiss="modal" id="1" (click)="add($event)">Nieuwe baan</button>
       </div>
     </div>
   </div>
 </div>

 <div id="tableModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Nieuwe tafel</h4>
       </div>

       <div class="modal-body">
         <form #newTableForm="ngForm" class="form-horizontal">
           <div class="form-group">
             <label for="tableName" class="col-sm-3 control-label" id="lbltableName">Tafel naam:</label>
             <div class="col-sm-9">
               <input class="form-control" id="tableName" required [(ngModel)]="space.Name" name="tableName" #tableName="ngModel" #TableName/>
               <div *ngIf="tableName.errors && (tableName.dirty || tableName.touched)"
                    class="alert alert-danger">
                 <div [hidden]="!tableName.errors.required">
                   Naam van de mag tafel niet leeg zijn.
                 </div>
               </div>
             </div>
           </div>
           <div class="form-group">
             <label for="tablePers" class="col-sm-3 control-label" id="lblTablePers">Aantal personen:</label>
             <div class="col-sm-9">
               <select required [(ngModel)]="space.Persons" name="tablePers" #tablePers="ngModel" #TablePers class="form-control" id="tablePers">
                 <option *ngFor="let person of persons" [ngValue]="person">{{person}} personen</option>
               </select>
               <div *ngIf="tablePers.errors && (tablePers.dirty || tablePers.touched)"
                    class="alert alert-danger">
                 <div [hidden]="!tablePers.errors.required">
                   Aantal personen mag niet leeg zijn.
                 </div>
               </div>
             </div>
           </div>

           <div class="form-group">
             <label for="tablePersMin" class="col-sm-3 control-label" id="lblTablePersMin">Aantal min personen:</label>
             <div class="col-sm-9">
               <select required [(ngModel)]="space.MinPersons" name="tablePersMin" #tablePersMin="ngModel" #TablePersMin class="form-control" id="tablePersMin">
                 <option *ngFor="let person of persons" [ngValue]="person">{{person}} personen</option>
               </select>
               <div *ngIf="tablePersMin.errors && (tablePersMin.dirty || tablePersMin.touched)"
                    class="alert alert-danger">
                 <div [hidden]="!tablePersMin.errors.required">
                   Aantal min personen mag niet leeg zijn.
                 </div>
               </div>
             </div>
           </div>

           <div class="form-group">
             <label for="tableEnabled" class="col-sm-3 control-label" id="lblTableEnabled">Beschikbaar:</label>
             <div class="col-sm-9">
               <select required [(ngModel)]="space.Enabled" name="tableEnabled" #tableEnabled="ngModel" #TableEnabled class="form-control" id="tableEnabled">
                 <option  [ngValue]="true" >Ja</option>
                 <option  [ngValue]="false" >Neen</option>
               </select>
               <div *ngIf="tableEnabled.errors && (tableEnabled.dirty || tableEnabled.touched)"
                    class="alert alert-danger">
                 <div [hidden]="!tableEnabled.errors.required">
                   Er moet een keuze gemaakt worden.
                 </div>
               </div>
             </div>
           </div>

         </form>
       </div>

       <div class="modal-footer">
         <div class="btn btn-default" data-dismiss="modal" id="2" (click)="add($event)">Nieuwe tafel</div>
       </div>
     </div>
   </div>
 </div>

