

<h1>{{title}}</h1>

<form class="form-horizontal">
  <div class="form-group">
     <label for="companyCity" class="col-sm-3 control-label">City:</label>
    <!-- <div class="col-sm-9">
     <input id="companyCity" name="CityId" class="form-control" auto-complete [(ngModel)]="company.CityId"  [source]="cities"  />
     </div>-->
    <div class="col-sm-9">
       <select name="cityId" id="cid" [(ngModel)]="cityid" class="form-control" #CityId>
         <option id="companyCity" *ngFor="let city of cities" [ngValue]="city.Id" >{{city.PostalCode}} | {{city.Name}}</option>
       </select>

    </div>
  </div>
  <div class="form-group">
    <label for="companyName" class="col-sm-3 control-label" id="lblCompanyName">Name:</label>
    <div class="col-sm-9">
      <input class="form-control" id="companyName" #CompanyName/>
    </div>
  </div>
  <div class="form-group">
    <label for="companyVat" class="col-sm-3 control-label">VAT:</label>
    <div class="col-sm-9">
      <input class="form-control" id="companyVat" #CompanyVAT/>
    </div>
  </div>
  <div class="form-group">
  <label for="companyStreet" class="col-sm-3 control-label">Street:</label>
  <div class="col-sm-9">
    <input class="form-control" id="companyStreet" #CompanyStreet/>
  </div>
</div>

  <div class="form-group">
    <label for="companyStreetNumber" class="col-sm-3 control-label">Number:</label>
    <div class="col-sm-9">
      <input class="form-control" id="companyStreetNumber" type="number" #CompanyStreetNumber/>
    </div>
  </div>

  <div class="form-group">
    <label for="companyBox" class="col-sm-3 control-label">Box:</label>
    <div class="col-sm-9">
      <input class="form-control" id="companyBox" #CompanyBox/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-default"
              (click)="addCompany(CompanyName.value,CompanyVAT.value, CompanyStreet.value,CompanyStreetNumber.value,CompanyBox.value, CityId[0].value);
reset(CompanyName,CompanyVAT, CompanyStreet,CompanyStreetNumber,CompanyBox, CityId)" id="btnSendCompany">Add</button>
    </div>
  </div>
</form>

<h2>My Companies</h2>

<div class="table-responsive">
  <table class="table table-hover">
    <caption>Caption here?</caption>
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>VAT Number</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companies">
      <th scope="row">{{company.Id}}</th>
      <td>{{company.Name}}</td>
      <td>{{company.VATNumber}}</td>
      <td>{{company.Street}} {{company.Number}} {{company.Box}}, {{company.City.PostalCode}} {{company.City.Name}}</td>
    </tr>
    </tbody>
  </table>
</div>
