<div>
    <div class="btn-group">
      <button type="button" class="btn btn-default" (click)="removeDay()"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-success" (click)="open()">{{ date | date:'dd-MMMM-yyyy' }}</button>
      <button type="button" class="btn btn-default" (click)="addDay()"><i class="fa fa-angle-right" aria-hidden="true"></i></button>

    </div>
    <button type="button" class="btn btn-default" (click)="today()">Vandaag</button>

  <ul class="datepicker-ul" role="menu" *ngIf="opened">
    <datepicker [(ngModel)]="date" [minDate]="minDate" [showWeeks]="false" (selectionDone)="onSelectionDone($event)"></datepicker>
  </ul>
  <p></p>
</div>

<h3>Reservaties voor {{date | date: 'd MMMM y'}} <i *ngIf="refreshing" class="fa fa-spinner fa-pulse fa-fw"></i></h3>
<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
    <tr *ngIf="reservations?.length == 0"><td>Geen reservaties beschikbaar.</td></tr>
    <tr *ngFor="let reservation of reservations | sort: 'DateTime'" (click)="showModal(reservation.Id)">
      <th scope="row">{{reservation.DateTime | date: 'shortTime'}}</th>
      <td>{{reservation.User.Name}} {{reservation.User.Lastname}}</td>
      <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{reservation.AmountOfPersons}}</td>
      <td>{{reservation.SpaceId}}</td>
      <td>{{reservation.CreatedOn | amTimeAgo}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div bsModal #reservationDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="currentReservation!=null"><strong>{{currentReservation.AmountOfPersons}} gasten - {{currentReservation.DateTime | date: 'd MMMM y HH:mm'}}</strong> - {{currentReservation.EndDateTime | date: 'HH:mm'}}</h4>
        <button type="button" class="close pull-right" (click)="reservationDetailModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="currentReservation!=null">
          <div class="col-md-4">
            <h2>Reservatie:</h2>
            <p>
              <strong>Space:</strong>
              <br>
              {{currentReservation.SpaceId}}
            </p>
            <p>
              <strong>Datum:</strong>
              <br>
              {{currentReservation.DateTime | date: 'shortDate'}}
            </p>
            <p>
              <strong>Tijd:</strong>
              <br>
              {{currentReservation.DateTime | date: 'shortTime'}}
            </p>

          </div>
          <div class="col-md-4">
            <h2>Gast:</h2>
            <p>
              {{currentReservation.User.Name}} {{currentReservation.User.Lastname}}<br />
              {{currentReservation.User.Email}}<br />
              {{currentReservation.User.PhoneNumber}}
            </p>
          </div>
          <div class="col-md-4">
            <p><button class="btn btn-success btn-modal btn-lg" (click)="Arrived(currentReservation.Id)">Aangekomen</button></p>
            <p><button  class="btn btn-warning btn-modal btn-lg" (click)="NoShow(currentReservation.Id)">Niet opgedaagd</button></p>
            <p><button  class="btn btn-danger btn-modal btn-lg" (click)="Cancel(currentReservation.Id)">Annuleer</button></p>
          </div>
        </div>
        <h3>Activiteiten</h3>
        <p *ngIf="currentReservation!=null">
          Reservatie aangemaakt door klant via website. {{currentReservation.CreatedOn | date: 'd MMMM y HH:mm'}}
        </p>
      </div>
    </div>
  </div>
</div>
