<div class="row review-margin">
  <h3>Reviews  <i *ngIf="refreshing" class="fa fa-spinner fa-pulse fa-fw"></i></h3>
  <div class="col-md-12">
    <div class="table-responsive">
      <table id="reviews" class="table table-striped">
        <thead>
        <tr>
          <th>Van</th>
          <th>Bericht</th>
          <th>Resultaat</th>
          <th>Ontvangen</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="reviews?.length == 0"><td colspan="4" class="text-center">Geen reviews beschikbaar.</td></tr>
        <tr *ngIf="!reviews"><td colspan="4"  class="text-center">Geen reviews beschikbaar.</td></tr>
        <tr *ngFor="let review of reviews | sortDesc: 'DateTime'">
          <th scope="row">{{review.User.Lastname}} {{review.User.Name}} </th>
          <td>{{review.Text}}</td>
          <td><i class="float-xs-right fa"
                 [ngClass]="{'fa-thumbs-down': !review.Result, 'fa-thumbs-up': review.Result}"></i></td>
          <td>{{review.DateTime | amTimeAgo }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
