<alert type="info">--SOORT VAN BEELD -> Kalender, List, Per uur, per tafel?..
- DATUM EN WANNEER
  -LIJST + BEELD</alert>

<tabset>
  <tab heading='Per Uur'>
    <h3>18:00</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Naam reservé</th>
              <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 5</td>
              <td>BAAN</td>
              <td>ROOM</td>
              <td>'STATUS'</td>
              <td>GERESERVEERD OP</td>
          </tr>
          <tr>
            <th scope="row">Naam reservé</th>
            <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 5</td>
            <td>BAAN</td>
            <td>ROOM</td>
            <td>'STATUS'</td>
            <td>GERESERVEERD OP</td>
          </tr>
          <tr>
            <th scope="row">Naam reservé</th>
            <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 5</td>
            <td>BAAN</td>
            <td>ROOM</td>
            <td>'STATUS'</td>
            <td>GERESERVEERD OP</td>
          </tr>
          <tr *ngFor="let reservation of reservations">
            <th scope="row">{{reservation.AccountId}}</th>
            <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{reservation.AmountOfPersons}}</td>
            <td>{{reservation.SpaceId}}</td>
            <td></td>
            <td>{{reservation.Cancelled}}</td>
            <td>{{reservation.DateTime | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </tab>
  <tab heading='Groepen'>
    Tab 2 content
  </tab>
  <tab heading='Recente reserveringen'>
    Tab 3 content
  </tab>
</tabset>
