<alert type="info">LINKS KEUZE RECHTS BERICHTEN/REVIEUWS</alert>
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-list">
      <li class="nav-header">Berichten</li>
      <li data-type="received" class="active"><a href="#">Ontvangen berichten</a></li>
      <li data-type="sent"><a href="#">Verzonden berichten</a></li>
      <li data-type="feedback"><a href="#">Feedback</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Van</th>
            <th>Onderwerp</th>
            <th>Reservering</th>
            <th>Ontvangen op</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Naam reservé</th>
          <td>Bericht bij reservering</td>
          <td>--RESERVATIE LINK--</td>
          <td>DATUM</td>
        </tr>
        <tr>
          <th scope="row">Naam reservé</th>
          <td>Bericht bij reservering</td>
          <td>--RESERVATIE LINK--</td>
          <td>DATUM</td>
        </tr>
        <tr>
          <th scope="row">Naam reservé</th>
          <td>Bericht bij reservering</td>
          <td>--RESERVATIE LINK--</td>
          <td>DATUM</td>
        </tr>
        <tr>
          <th scope="row">Naam reservé</th>
          <td>Bericht bij reservering</td>
          <td>--RESERVATIE LINK--</td>
          <td>DATUM</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
