html, body {
  width: 100%;
  height: 100%;
}

app-root, app-booker{
  height: 100%;
  width: 100%;
  display: block;
}

@media (min-width: 768px){
  .form-inline .typeahead input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }}
.typeahead input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.typeahead-input-has-selection{
  border: 1px solid #ccc !important;
  color: #555 !important;
  background-color: #fff !important;
}

/* Applies a grabbing hand on top of the div that's draggable*/
.object{
   cursor: grab;
   cursor: -moz-grab;
   cursor: -webkit-grab;
 }
/*  Apply a "closed-hand" cursor during drag operation. */
.object:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}


.object{
  height: 200px;
  width: 100px;
  border: solid 1px;
  background-color: black;
  position: absolute;
  color: white;
}

.object2{
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
/*  Apply a "closed-hand" cursor during drag operation. */
.object2:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}


.object2{
  height: 100px;
  width: 100px;
  border: solid 1px;
  background-color: black;
  position: absolute;
  color: white;
}
/*Google Maps*/
.sebm-google-map-container {
  height: 300px;
}
.sebm-google-map-container-branches {
  height: 600px;
}
